#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(77, 63, 90);
  font-family: sans-serif;

}
h2{
  color: white;
}
#signupForm{
  background-color: aqua;
  padding: 25px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#authForm{
  background-color: rgb(127, 202, 129);
  padding: 25px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

::placeholder{
  color: rgba(0, 0, 255, 0.413);
}

#badUsername{
  color: red;
  font-size: 0.8em;
  font-weight: bold;
}

#badPassword{
  color: red;
  font-size: 0.8em;
  font-weight: bold;
}

#userName{
  text-transform: capitalize;
}

#successMessage{
  color: white;
}
#notSuccessMessage{
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: red;
}